/* Global styles */
                                                                                                                                                                         
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    background: #f2f2f2;
    font-size: 12px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: #e7e7e7;
    background: rgb(19, 19, 19);
}

/* New Globals */

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html {
  height:100%;
  background-image: linear-gradient(to right top, #8e44ad 0%, #3498db 100%);
}

nav {
  max-width: 960px;
  mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
  margin: 0 auto;
  padding: 60px 0;
}

nav ul {
  text-align: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  padding: 18px;
  font-family: "Open Sans";
  text-transform:uppercase;
  color: rgba(0, 35, 122, 0.5);
  font-size: 18px;
  text-decoration: none;
  display: block;
}

nav ul li a:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.1);
  color: rgba(0, 35, 122, 0.7);
}






/* Landing Page */

.landing-page {
    width: 100%;
    height: 100vh;
    background: linear-gradient(
        135deg,
        rgba(0, 64, 77, 0.9) 0%,
        rgba(0, 0, 0, 0.8) 100%
      ),
      url("images/landing-page.png") center no-repeat;
    background-size: contain;
    position: relative;
  }

  .main-message {
    width: 100%;
    max-width: 58rem;
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .main-message h2 {
    letter-spacing: 1.2rem;
    font-size: 2rem;
    font-weight: 400;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 5s steps(27), blink 1s ease-in-out 7s infinite;
    width: 27ch;
    margin: auto;
    border-right: 4px solid rgba(255, 255, 255, 1);
  }

  @keyframes typing {
    75% {
      width: 0ch;
      color: rgba(249, 105, 14, 1);
    }
    100% {
      width: 27ch;
    }
  }
  
  @keyframes blink {
    0% {
      border-right: 4px solid rgba(255, 255, 255, 0);
    }
    100% {
      border-right: 4px solid rgb(194, 194, 194);
    }
  } 

  .main-message h3 {
    font-size: 4rem;
    margin: 1rem 0;
    color: rgba(249, 105, 14, 1);
    background: linear-gradient(
      to right,
      rgba(249, 105, 14, 1) 0%,
      rgba(102, 51, 153, 1) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .main-message p {
    text-transform: none;
    font-size: 1.7rem;
    font-weight: 400;
  }

  .btn {
    margin: 0 9px;
    background: rgba(3, 155, 155);
    border-radius: 2rem;
    color: #fafafa;
    padding: 1rem 2.5rem;
    display: inline-block;
    margin-top: 2rem;
    transition: background-color 650ms;
    font-weight: 500;
    letter-spacing: 2px;
  }

  .btn:hover {
    color: #fafafa;
    background-color: rgba(189, 72, 0);
  }

  /* .scroll-down i {
    color: #fafafa;
    transition: color 650ms;
    margin-top: 2rem;
    font-size: 3.5rem;
  }
  
  .scroll-down i:hover {
    color: rgba(189, 72, 0);
  } */



/* About section */
.about {
    width: 100%;
    min-height: 100vh;
    min-width: 30rem; /* 70rem */
    margin: auto;
/* background: rgb(221, 218, 224); /* Remove not and Set HTML BG */
}

.container {
    width: 100%;
    max-width: 90rem;
    margin: 0 auto;
    padding: 0 1.5rem;
  }

.about .container{
    display: flex;
    align-items: center;
    min-height: 80vh;
}

.about-img img {
    height: 12rem;
    width: auto;
    border-radius: 50%;
    margin: 2rem;
    box-shadow: 0 20px 30px 0 rgba(0, 255, 255, 0.15);
}

.about-text-box {
  /* flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0; */
    margin: 50px ;
    padding: ;
}

.about-text-box h2{
    font-size: 2rem;
    margin-bottom: 20px;
}

.about-text-box p {
      /* font-family: "Poppins", sans-serif; */
    margin-bottom: 1.45rem;
    font-size: 1rem;
    padding: 0;
    margin-bottom: 1.2rem;
}

hr {
    margin: 4rem 0;
    background: linear-gradient(
        to right,
        rgba(249, 105, 14, 1) 0%,
        rgba( 102, 51, 153, 1) 100%
    );
    border: 0;
    height: 5px;
}

/* Services */

.services {
    padding: 3rem 0;
    min-height: 100vh;
    max-width: 90rem;
    margin: auto;
  }

  .title-heading {
    text-align: center;
    margin-bottom: 5rem;
  }

  .title-heading h2 {
    font-size: 2rem;
    margin: 0.5rem 0 1rem 0;
  }

  .title-heading p {
    font-family: "Poppins", sans-serif;
    margin-bottom: 5rem;
  }

  .service-tiers {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2.5rem;
  }

  .tier-item {
    height: 30rem;
    padding: 3rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: default;
  }

  .tier-item i {
    font-size: 3.5rem;
  }

  .tier-item h2 {
    font-size: 2rem;
    margin: 2rem 0;
    background: linear-gradient(
      to right,
      rgba(249, 105, 14, 1) 0%,
      rgba(102, 51, 153, 1) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .tier-item p {
    font-family: "Poppins", sans-serif;
    font-size: 1.4rem;
  }


/* Projects */

.projects {
    padding: 3rem 0;
    min-height: 100vh;
    max-width: 70rem;
    margin: auto;
  }

  .has-margin-right {
    margin: 0 3rem 0 0;
  }

  .project-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1.45rem 5rem 1.45rem;
  }

  .project-img {
    flex: 1;
  }

  .project-description {
    flex: 1;
  }

  .project-description h2 {
    font-size: 2rem;
    margin: 2rem 0;
    background: linear-gradient(
      to right,
      rgba(249, 105, 14, 1) 0%,
      rgba(102, 51, 153, 1) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .project-description p {
    font-family: "Poppins", sans-serif;
    font-size: 1.4rem;
  }

  .project-link {
    display: inline-block;
    margin: 2rem 0;
    font-size: 1.4rem;
  }


/* Contact */

.contact {
    width: 100%;
    min-height: 100vh;
    max-width: 70rem;
    margin: auto;
    padding-top: 5rem;
  }

  .contact h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 5rem;
  }

  .contact p {
    font-family: "Poppins", sans-serif;
    font-size: 1.4rem;
    padding: 0;
    margin: 0.9rem 2rem;
  }

  .contact .container {
    min-height: 50vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }


  footer {
    background-color: #555;
    color: #bbb;
    line-height: 1.5;
  }
  footer a {
    text-decoration: none;
    color: #eee;
  }
  a:hover {
    text-decoration: underline;
  }
  .ft-title {
    color: #fff;
    font-family: "Merriweather", serif;
    font-size: 1.375rem;
    padding-bottom: 0.625rem;
  }
  /* Sticks footer to bottom */
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  .container {
    flex: 1;
  }
  /* Footer main */
  .ft-main {
    padding: 1.25rem 1.875rem;
    display: flex;
    flex-wrap: wrap;
  }
  @media only screen and (min-width: 29.8125rem /* 477px */) {
    .ft-main {
      justify-content: space-evenly;
    }
  }
  @media only screen and (min-width: 77.5rem /* 1240px */) {
    .ft-main {
      justify-content: space-evenly;
    }
  }
  .ft-main-item {
    padding: 1.25rem;
    min-width: 12.5rem;
  }
  
  /* Footer main | Newsletter form */
  form {
    display: flex;
    flex-wrap: wrap;
  }
  input[type="email"] {
    border: 0;
    padding: 0.625rem;
    margin-top: 0.3125rem;
  }
  input[type="submit"] {
    background-color: #00d188;
    color: #fff;
    cursor: pointer;
    border: 0;
    padding: 0.625rem 0.9375rem;
    margin-top: 0.3125rem;
  }
  /* Footer social */
  .ft-social {
    padding: 0 1.875rem 1.25rem;
  }
  .ft-social-list {
    display: flex;
    justify-content: center;
    border-top: 1px #777 solid;
    padding-top: 1.25rem;
  }
  .ft-social-list li {
    margin: 0.5rem;
    font-size: 1.25rem;
  }
  /* Footer legal */
  .ft-legal {
    padding: 0.9375rem 1.875rem;
    background-color: #333;
  }
  .ft-legal-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .ft-legal-list li {
    margin: 0.125rem 0.625rem;
    white-space: nowrap;
  }
  /* one before the last child */
  .ft-legal-list li:nth-last-child(2) {
      flex: 1;
  }



  


